<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add connectionString="Data Source=AMS-LPT-PRESCOT\SQLSERVER2014;Connect Timeout=60;User ID=Csys;password=AA2!!*^@%bb3dd62#^5cc$;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;Max Pool Size=1" name="conn"/>
  </connectionStrings>
</configuration>