<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <sessionState mode="SQLServer" timeout="60" 
          sqlConnectionString="Data Source=AMS-LPT-PRESCOT\SQLSERVER2014;Initial Catalog=Cdb20180801; User ID=Cstate;Password=AA2!!*^@%bb3dd62#^5cc$;" 
          allowCustomSqlDatabase="true" 
          cookieless="false" />
  </system.web>
</configuration>
