<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <sessionState mode="SQLServer" timeout="60" 
                  sqlConnectionString="Data Source=LAPTOP-QRNQV3M1\SQLEXPRESS;Initial Catalog=Cdb20180801; User ID=sa;Password=server.123;" 
                  allowCustomSqlDatabase="true" 
                  cookieless="false" />
  </system.web>
</configuration>
