<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="KEY" value="WpQ+J8dnA3dom9Jka0lex4yTmI08dU0UwYxTWaFlLveTH9zIEJqpUqGBVWGjFU6AZUqL02N/2jaS2xaYyASujg=="/>
  </appSettings>

  <connectionStrings>
    <add name="Conn" connectionString="Data Source=AMS-LPT-PRESCOT\SQLSERVER2014;Initial Catalog=Cdb20180801; User ID=Cstate;Password=AA2!!*^@%bb3dd62#^5cc$;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;Max Pool Size=500"/>
  </connectionStrings>
  
  <system.web>
    <sessionState mode="SQLServer" timeout="60" 
                  sqlConnectionString="Data Source=AMS-LPT-PRESCOT\SQLSERVER2014;Initial Catalog=Cdb20180801; User ID=Cstate;Password=AA2!!*^@%bb3dd62#^5cc$;" 
                  allowCustomSqlDatabase="true" 
                  cookieless="false" />
  </system.web>
</configuration>